@import "tailwindcss";
@import "./components/base.css";
@import "./components/order.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@plugin "daisyui" {
    themes:
        winter --default,
        all;
}
