.product_description_tiny_mce {
    box-sizing: border-box;
}

.product_description_tiny_mce p {
    width: 100%;
    box-sizing: border-box;
}

.product_description_tiny_mce p img {
    width: 100%;
    height: auto;
    display: block;
}
